* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
      to bottom,
      rgba(255, 64, 50, 0.8),
      rgba(71, 17, 116, 0.9)
    ),
    url('background.jpg') no-repeat;
    object-fit: cover;
    color: #fff;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    margin: 20px;
}

ul {
    display: flex;
}



li {
    list-style: none;
    color: #fff;
    padding: 20px;
}

i {
    margin-right: 10px;
}

label {
    display: block;
    margin: 15px 0;
    font-size: 10px;
    
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

.message {
    width: 100%;
    height: 100px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

}

section {
    width: 900px;
    margin: auto;
}

main {
    display: flex;
    height: 80vh;

    justify-content: space-around;
    align-items: center;
}


.form {
    width: 400px;
}

.content {
    width: 400px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
}

p {
    line-height: 1.5;
}

button {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 15px;
    color: #fff;
    border: none;
    background-color: rgb(208, 77, 30);
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}


/* --------------------------------------Media Query---------------------------------- */

@media (max-width : 564px){

    body nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
        justify-content: center;
        /* text-align: center; */
        width: 100%;
        /* height: 200px; */
    }

    ul {
        flex-direction: column;
    }
    section main {
        flex-direction: column-reverse;
        margin-top: 300px;
        width: 100%;
    }
    section main .form {
        width: 100%;
        padding: 10px 50px;
        margin: auto;
        margin-bottom: 20px;

    }

    section main .content {
        width: 100%;
        padding: 0px 150px;
        margin-top: 40px;
        margin: auto;

    }

    section main .content h1 {
        margin-bottom: 20px;
        font-size: 40px;
        text-align: center;

    }

    section main .content p {
        /* font-size: 24px; */
        display: none;
    }

}

@media (max-width : 796px) {
    main h1 {
        font-size: 24px;
    }

    main .form {
        width: 300px;
    }

    main .content {
        width: 300px;
    }


}
